{% extends 'content.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}
{% trans "Create Post" %}
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'categories:detail' category_slug=category.slug %}">{{ category }}</a> 
  / <span class="active">{% trans "Create Post" %}</span>
{% endblock %}

{% block content %}
    <h1>{% trans "Create a new post in" %} {{ category.title }}</h1>
    <form method="post" class="create-post-form">
      {% csrf_token %}
      {% crispy form %}
    </form>
{% endblock %}