{% extends 'content.html' %}
{% load i18n %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'categories:detail' category_slug=post.category.slug %}">{{ post.category }}</a>
  / <span class="active">{{ post.title }}</span>
{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <div class="col s12">
    <div class="row">
      <div class="input-field col s2">
        {{ post.author }} {{ post.updated_at }}
      </div>
      <div class="input-field col s10">
        {{ post.content }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <a href="{% url 'categories:detail' category_slug=post.category.slug %}" class="waves-effect waves-light btn">
        {% trans "Back" %}
      </a>
      <a href="{% url 'comments:create' post_slug=post.slug %}" class="waves-effect waves-light btn">
        {% trans "Answer" %}
      </a>

    </div>
    <div class="col s6 center">
      {% if request.user.is_authenticated and request.user.id == post.author.id %}
        <a href="{% url 'posts:update' post_slug=post.slug %}" class="waves-effect waves-light btn">{% trans "Edit" %}</a>
        <a href="{% url 'posts:delete' post_slug=post.slug %}"
           class="waves-effect waves-light btn red darken-2">{% trans "Delete" %}</a>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h3>{% trans "Answers" %}</h3>
      {% for comment in post.comments.all %}
        <div class="row">
          <div class="input-field col s2">
            {{ comment.author }} {{ comment.updated_at }}
          </div>
          <div class="input-field col s10">
            {{ comment.content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
