{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Delete post
{% endblock%}

{% block body %}
    <div class="container">
    <h2>Delete post</h2>
    <form method="post" class="delete-post-form">
      {% csrf_token %}
        <p>Are you sure you want to delete post "{{ post.title }}"</p>
      {{ form|crispy }}
      <button type="submit" class="btn waves-effect waves-light">Confirm</button>
      <a href="{% url 'posts:details' post_id=post.pk %}" class="btn waves-effect waves-light">Cancel</a>
    </form>
  </div>
{% endblock %}
