/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

 :root {
   --primary-color: #c1cad2;
   --primary-bg-color: #181d27;
   --brand-bg-color: #0c4b33;
   --brand-color: #44b78b;
   --brand-second-color: #187f58;
   --btn-color: #0e1117;
 }
 
 body {
   background-color: var(--primary-bg-color);
   color: var(--primary-color);
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 200px;
   line-height: 0;
   height: auto;
   color: rgba(255, 255, 255, .9);
 }
 
 .parallax-container .section {
   width: 100%;
 }
 
 @media only screen and (max-width: 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
 
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width: 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 
   & h5 {
     color: var(--brand-color);
   }
 }
 
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 .nav-wrapper {
   font-size: 1.3rem;
   font-weight: 400;
   text-transform: uppercase;
 }
 
 .nav {
   background-color: var(--brand-bg-color);
 }
 
 .container {
   font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
 
   h1 {
     font-size: 2rem;
     color: var(--brand-color);
   }
 
   h2 {
     font-size: 1.5rem;
   }
 
   h3 {
     font-size: 1.2rem;
   }
 
   h4 {
     font-size: 1rem;
   }
 
   #logo-container {
     font-size: 1.5rem;
   }
 
   .btn {
     background-color: var(--brand-color);
     color: var(--btn-color);
     text-transform: none;
     font-size: 1.2rem;
     font-weight: 700;
     border-radius: 5px;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     letter-spacing: 0;
     height: auto;
     line-height: normal;
   }
 
   .icon-block span {
     position: relative;
     bottom: -7px;
     font-size: 2rem;
   }
 }
 
 .page-footer {
   background-color: var(--brand-second-color);
 
   .footer-copyright {
     background-color: var(--brand-bg-color);
     text-align: center;
 
     & a {
       color: var(--brand-color);
       text-decoration: underline;
     }
   }
 }
 
 .home {
   #slogan {
     font-size: 1.5rem;
     font-weight: 700;
     color: var(--brand-color);
   }
 
   h2 {
     font-size: 1.8rem;
     font-weight: 700;
     color: var(--brand-color);
   }
 
   h3 {
     color: var(--btn-color);
     font-size: 1.8rem;
     font-weight: 700;
   }
 
   h4 {
     font-size: 1.2rem;
     font-weight: 700;
     margin: 0;
   }
 
   .btn {
     background-color: var(--brand-color);
     color: var(--btn-color);
     text-transform: none;
     font-size: 1.2rem;
     font-weight: 700;
     border-radius: 5px;
     padding: 1em 50px 1.1em;
     text-align: center;
     text-decoration: none;
     letter-spacing: 0;
     height: auto;
     line-height: normal;
   }
 }

 .login-page {
  background-image: url("/static/images/background1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #000;
  
}

.signup-page {
  background-image: url("/static/images/background2.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #000;
  
}

.login-window {
  width: 80%;
  height: 450px;
  display: flex;
  color: #000;
  max-width: 600px;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255,255,255,0.5); 

}

.signup-window {
  width: 80%;
  height: auto;
  display: flex;
  color: #000;
  max-width: 600px;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255,255,255,0.5); 
}

.login-form {
  width: 70%;
  color: #000;
  max-width: 500px;
  text-align: center;
}

.signup-form {
  width: 70%;
  color: #000;
  max-width: 500px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}

label {
  color: #fff;
  font-size: medium;
}

.form-control {
  color: #fff;
  font-size: medium;
}

.form-text {
  color: #fff;
  font-size: medium;
}

.alert {
  color: #fff;
  font-size: medium;
}

.invalid-feedback {
  color: #fff;
  font-size: medium;
}
.sidenav {
  background: transparent;
  backdrop-filter: blur(20px);
  width: 70%;
}

.submit-button {
  margin-top: 25px;
}
