{% extends 'base.html' %}

{% block title %}
  Forum
{% endblock %}

{% block body %}
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s8">
            <h2>{{ category.title }}</h2>
            <p>{{ category.description }}</p>
        </div>
        <div class="col s4">
          <a href="{% url 'posts:create' slug=category.pk %}" class="waves-effect waves-light btn">Create Post</a>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col s12 center">
          <table class="highlight">
            <thead>
              <tr>
                <th>Post</th>
                <th>Created</th>
                <th>Post details</th>
              </tr>
            </thead>
            <tbody>
              {% for post in posts %}
              <tr>
                <td><h5>{{ post.title }}</h5></td>
                <td><p>{{ post.updated_at }}</p></td>
                <td><a href="{% url 'posts:details' post_slug=post.slug %}" class="waves-effect waves-light btn">Details</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

{% endblock %}


