{% extends 'content.html' %}

{% block title %}
  Forum
{% endblock %}

{% block content %}

  {% for main_category in objects %}
    <h2>{{ main_category.title }}</h2>
    <table class="highlight">
    <thead>
      <tr>
          <th></th>
          <th>Posts</th>
          <th>Comments</th>
          <th>Last comment</th>
      </tr>
    </thead>


    <tbody>
      {% for category in main_category.category_set.all %}
        {% for post in category.post_set.all %}
          <tr>
            <td>
              <ul>
                <li><h3>{{ category.title }}</h3></li>
                <li>{{ category.description }}</li>
              </ul>
            </td>
            <td>{{ category.post_set.count }}</td>

            <td>{{ post.comment_set.count}}</td>
            <td>Last comment</td>
            <td><a href="{% url 'categories:detail' category_slug=category.slug %}" class="waves-effect waves-light btn">Go
            to...</a>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
    </table>
  {% endfor %}

{% endblock %}
