{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block body %}
  <div class="home">
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 center">
            <h1 id="slogan">{% trans "PY_JUNE - Code, Learn, and Grow Together!" %}</h1>
          </div>
        </div>
      </div>
    </div>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container"> 
          <div class="row center"> 
            <h3 class="header col s12 light">{% trans "There should be one-- and preferably only one --obvious way to do it." %}</h3>
          </div>
          <div class="row center">
            <a href="{% url "posts:create" category_slug="general-coding-help" %}" id="download-button"
               class="btn waves-effect"><h4>{% trans "Ask question" %}</h4></a>
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax"><img src="{% static 'images/background3.jpg' %}" alt=""></div>
    </div>


    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2>
                <span><i class="material-icons">flash_on</i></span>
                {% trans "Last posts" %}
              </h2>


              {% for post in last_posts %}
                <div>
                  <a href="{% url 'posts:details' post_slug=post.slug %}">{{ post.title }}</a>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2>
                <span><i class="material-icons">trending_up</i></span>
                {% trans "Most hot" %}
              </h2>

                {% for post in most_hot%}
                  <div>
                  <a href="{% url 'posts:details' post_slug=post.slug %}">{{ post.title }}</a>
                  </div>
                {% endfor %}
              </div>
            </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2>
                <span><i class="material-icons">help_outline</i></span>
                {% trans "Need help" %} 
              </h2>

              {% for post in need_help_posts%}
                <div>
                  <a href="{% url 'posts:details' post_slug=post.slug %}">{{ post.title }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h3 class="header col s12 light">{% trans "Beautiful is better than ugly." %}</h3>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="{% static 'images/background3.jpg' %}" alt=""></div>
    </div>

    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h2>User activities</h2>

              {% for comment in user_activities %}
              <div class="col s6">
                {{ comment.content }}
              </div>
              {% endfor %}
          </div>
        </div>

      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h3 class="header col s12 light">{% trans "Simple is better than complex." %}</h3>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="{% static 'images/background3.jpg' %}" alt="Unsplashed background img 3"></div>
    </div>
  </div>
{% endblock %}
