{% extends 'content.html' %}

{% load crispy_forms_tags %}

{% block title %}
   Answer
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'posts:details' post_slug=post.slug %}">{{ post }}</a>
  / <span class="active">Comments</span> / <span class="active">Answer</span>
{% endblock %}

{% block content %}
    <h1>Comment for "{{ comment.title }}"</h1>
    <p>{{ comment.content }}</p>
    <form method="post" class="answer-comment-form">
      {% csrf_token %}
      {% crispy form %}
    </form>
{% endblock %}